.catod-grid-size {
    height:100%;
    width: 100%; 
}

.ag-theme-balham .ag-row:hover {  
    background-color: #f5f7f7;
    font-weight: bolder;  
    .actionsH{
        opacity: 0.6;  
        span{ 
            float:right;
            padding: 7px;
        display:inline}
       
    }
}

.catod-actions{  
    span{
    display:none}   
}

.catod-actions:hover{
    button{
       display: inline; 
    }
    span:hover{
        background-color: white;
        border-radius: 50%;       
  }   
}

  #center {
    grid-row: 1/1;
    grid-column:6/1;
    overflow: hidden;
}

.catod-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
   // grid-template-rows: 50vh;
    width: 100%;
  
}

