@import 'bootstrap/scss/bootstrap.scss';

.action-padding {

    margin: 1px;
    span{
        padding: 2px;
    }
}

tr:nth-child(odd){
    background-color:#f6f6f6;
 }

 .empty-grid{
     text-align: center;
     border: 1px solid #ddd;
     width:80%;
  margin:0px auto;
  padding: 6px;
  border-radius: 5px;

 }

 .grid-body{
     margin: 3px;
     font-size: 13px;   
    
     table{
         color: rgb(68, 68, 68);        
       thead{
        color:#444;       
        th{
            font-weight: 600;           
        }
       }
     }
 }

 .grid-body-right {
    margin: 3px;
    font-size: 13px;
   text-align: right;   
    table{
        color: rgb(68, 68, 68);       
      thead{
       color:#444;      
       th{
           font-weight: 600;          
       }
      }
    }
 }

 .action-cattod{
   
    button{
        font-size: 13px;
        color:#444;
    }
      }

   .sort-icon{
    width:12px;
     margin-right:3px;
   }