
$background-color-prime:#f6f6f6;
$border-color :  #ddd;
$text-color: rgb(68, 68, 68);
$header-text-color : #444;


.action-padding {

    margin: 1px;
    span{
        padding: 2px;
    }
}

tr:nth-child(odd){
    background-color:$background-color-prime;
 }

 .empty-grid{
     text-align: center;
     border: 1px solid $border-color;
     width:100%;
  margin:5px auto;
  padding: 6px;
  border-radius: 5px;

 }

 .empty-dataRow{ 
     text-align: center;
        }

 .grid-body{
     margin: 3px;
     font-size: 13px;   
    
     table{
         color: $text-color;        
       thead{
        color:$header-text-color;       
        th{
            font-weight: 600;           
        }
       }
     }
 }

 .grid-body-right {
     direction: rtl;
    margin: 3px;
    font-size: 13px;
   text-align: right;   
    table{
        color: $text-color;       
      thead{
       color:$header-text-color;      
       th{
           font-weight: 600;          
       }
      }
    }
 }


      .action-cattod{
   display:none;
  
        button{
            font-size: 13px;
            color:$header-text-color;

        }
        
          }

      .row-hover-catod tbody tr:hover{
         
          .action-cattod{
           
            display: inline;
            button{
                font-size: 13px;
                color:$header-text-color;
               
                
    
            }
          }
      }

   .sort-icon{
    width:12px;
     margin-right:3px;
   }

   .sort-svg{
    fill:none;
    stroke:$header-text-color;
    stroke-width:1
   }

   .scroll
{
overflow-x:auto;
}

.break-text-grid{
    word-break: break-all;
}

.image-icon{
    width: 10px;
}